**Do not edit the following 5 cells**

In [ ]:
%%writefile ct.h

#include<iostream>
#define start using namespace std; int main(){ int x,y,z,i,j,k,n,sum,r;
#define read cin>>
#define print(n) cout<<n<<" ";
#define end  cout<<endl; return 0;}
#define repeat(n) for(i=1; i<=n; i++)
#define repeatRange(i,m,n) for(i=m;i<=n;i++)
#define repeatUntil(x) for(;!(x); )
#define repeatIf(x) for(;x;)

Overwriting ct.h

In [ ]:
%%writefile start.cpp
#include "ct.h" 
start

Overwriting start.cpp

In [ ]:
%%writefile end.cpp

end

Overwriting end.cpp

In [ ]:
%%writefile translate
rm new.cpp
cat start.cpp $1 end.cpp >> new.cpp
g++ new.cpp

Overwriting translate

In [ ]:
%%script bash
chmod +x translate

***Programs***

In [ ]:
%%writefile t1.cpp

print("enter a number :");
read(n);

if(n>0){
		cout<<n<<" is Positive"<<endl;
}
else if(n<0){
		cout<<n<<" is Negative"<<endl;
}

else{
		cout<<n<<" is Zero"<<endl;
}

Writing t1.cpp

In [ ]:
%%writefile t2.cpp

print("Enter a number :");
read(x);

print("Enter a number :");
read(y);

print("Enter a number :");
read(z);

if(x<y){
		if(x<z){
				cout<<x<<" is the minimum number";
		}
		else{
				cout<<z<<" is the minimum number";
		}
}
else{
		if(y<z){
				cout<<y<<" is the minimum number";
		}
		else{
				cout<<z<<" is the minimum number";
		}
}

Writing t2.cpp

In [ ]:
%%writefile t3.cpp

print("Enter a number :");
read(n);
r=4;

sum=0;
j=1;
repeat(n){
		sum+=j*j*j*j;
		j++;
}
print(sum);

Writing t3.cpp

In [ ]:
%%writefile t4.cpp


    print("Enter a number");
    read(x);
    print("Enter a number");
    read(y);

    z=x+y;
    if(x>y){
            x=y;
            y=z-x;
    }
    repeatRange(j,x,y)
    {
            if(j%7==0){
                    print(j);
            }
    }

Overwriting t4.cpp

In [ ]:
%%writefile t5.cpp


    print("Enter a number");
    read(x);
    print("Enter a number");
    read(y);

    z=x+y;
    if(x>y){
            x=y;
            y=z-x;
    }
    k=0;
    j=x;

    repeatIf(j<y){
        if(j%7==0 || j%8==0){
            k++;
        }

        j++;
    }
    
    print("Number of integers between the two numbers divisible by 7 or 8 are");
    print(k);

Overwriting t5.cpp

In [ ]:
%%writefile t6.cpp


    print("Enter a number");
    read(n);
    r=1;
    j=1;
    repeat(n){
            r*=j;
            j++;
    }
    print(r);

Writing t6.cpp

In [ ]:
%%writefile t7.cpp

print("Enter the base :");
read(x);
print("Enter the exponent :");
read(y);

r=1;

repeat(y){
    r*=x;
}
print(r);

Writing t7.cpp

**Compiling or Translating**

In [ ]:
!./translate t7.cpp

**Executing**

In [ ]:
!./a.out

Enter the base : 2
Enter the exponent : 9
512